body{
    background-color: aliceblue;
    }
    
    
    
     
 
      .a{
 font-family: 'Righteous', cursive;
    
    text-transform: capitalize;
    
    color: #fff;
    color: blue;
   } 
    
    .c{
        font-family: 'Righteous', cursive;
    
   
    color: #fff;
    color: blue;
    }
    
 